{{define "product_new"}}

<!DOCTYPE html>
<html lang="en">
{{template "head"}}

{{template "nav"}}
<body>
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-5">New products</h1>
                <p class="lead">Fill data</p>
            </div>
        </div>
        <form method="POST">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input required type="text" name="name" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="descricao">Description:</label>
                        <input required type="text" name="description" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="preco">Price:</label>
                        <input required type="number" name="price" class="form-control" step="0.01">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="amount">Amount:</label>
                        <input required type="number" name="amount" class="form-control">
                    </div>
                </div>
            </div>
            <button type="submit" value="save" class="btn btn-success">save</button>
            <a class="btn btn-info" href="/">back</a>
        </form>
    </div>
</body>
</html>
{{end}}